/* TIP CALCULATOR APP --------------------------------------------------------------------------------------- */
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.content {
  max-width: 1440px;
  margin: 0px auto;
}

@font-face {
  font-family: "SpaceMono Regular";
  src: url("./fonts/SpaceMono-Regular.ttf");
}
@font-face {
  font-family: "SpaceMono Bold";
  src: url("./fonts/SpaceMono-Bold.ttf");
}
body {
  background-color: #c5e4e7;
}

/* ----------------------------------------------------------------------
  VARIABLES :
  DESKTOP */
/* MOBILE */
/*-----------------------------------------------------------------------*/
.logo-container {
  text-align: center;
}

#logo {
  height: 56px;
  margin-top: 161px;
  margin-bottom: 86px;
}

.calculator-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 858px;
  height: 418px;
  font-family: "SpaceMono Bold", sans-serif;
  margin: 0px auto;
  margin-bottom: 237px;
  padding: 31px;
  background-color: #fff;
  border: none;
  border-radius: 20px 20px;
  justify-content: space-between;
  overflow: hidden;
}

.input-container,
.result-container {
  width: 48%;
}

.input-container {
  box-sizing: border-box;
  padding: 16px;
}

.subtitle {
  color: #5e7a7d;
  margin-bottom: 12px;
}

.group-container {
  display: flex;
  background-color: #f4fafa;
  margin-top: 7px;
  border: none;
  border-radius: 5px 5px;
  overflow: hidden;
}

.invalidState {
  border: 2px solid #f17474;
  margin-bottom: -4px;
}

/* Bill input container --------------------------------------------------*/
.bill-container:focus-within {
  border: 2px solid #26c0ab;
  border-radius: 5px 5px;
  margin-bottom: -4px;
}

.icon {
  height: 44px;
  width: 10%;
  text-align: center;
  vertical-align: middle;
}

.icon img {
  height: 18px;
  margin: 13px auto;
}

#bill,
#numberOfPeople {
  height: 44px;
  width: 90%;
  font-family: "SpaceMono Bold", sans-serif;
  font-size: 19px;
  color: #7f9c9f;
  padding-right: 16px;
  border: none;
  background-color: transparent;
  outline: none;
  text-align: right;
}

/* END Bill input container --------------------------------------------------*/
/* TIP buttons container -----------------------------------------------------*/
.selectTipContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.selectTipContainer {
  margin-top: 16px;
  margin-bottom: 25px;
}

.selectTip {
  display: inline-block;
  margin-top: 41px;
}

.tip,
#customTip {
  width: 117px;
  height: 47px;
  font-family: "SpaceMono Bold", sans-serif;
  font-size: 24px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px 5px;
  text-align: center;
}

.tip {
  color: #fff;
  background-color: #00494d;
  transition: all 300ms;
}

.tip:hover {
  background-color: #c5e4e7;
  color: #00494d;
  cursor: pointer;
}

#customTip {
  background-color: #f4fafa;
}

#customTip:focus {
  width: 113px;
  height: 43px;
  border: 2px solid #26c0ab;
  border-radius: 5px 5px;
  outline: none;
}

.active {
  background-color: #26c0ab;
  color: #00494d;
}

/* END TIP buttons container -----------------------------------------------------*/
/* Verifier elements -------------------------------------------------------------*/
.subtitlePeople-verifier,
.subtitleBill-verifier {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -10px;
}

.invalid-data,
.invalid-data-bill,
.zero-data,
.zero-data-bill {
  display: none;
  color: #f17474;
}

/* END Verifier elements ---------------------------------------------------------*/
.result-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #00494d;
  border: none;
  border-radius: 15px 15px;
  padding: 39px;
}

.results {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 59px;
}

.tip-result-amount-container,
.tip-result-total-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.subtitleResult {
  color: #fff;
}

.unit {
  font-size: 13px;
  color: #7f9c9f;
}

.result {
  font-size: 39px;
  color: #26c0ab;
}

#reset {
  width: 100%;
  height: 47px;
  font-family: "SpaceMono Bold", sans-serif;
  font-size: 19px;
  color: #00494d;
  background-color: #5e7a7d;
  text-transform: uppercase;
  border: none;
  border-radius: 5px 5px;
  transition: all 300ms;
}

#reset:hover {
  background-color: #c5e4e7;
  cursor: pointer;
}

.enable {
  background-color: #26c0ab;
}

/*MEDIA QUERIES ----------------------------------------------------------------------------------------*/
@media (max-width: 935px) {
  .calculator-container {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 85%;
    height: auto;
  }

  .input-container,
.result-container {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .calculator-container {
    width: 92%;
    padding: 10px;
  }

  .result-container {
    width: 91%;
    margin: 0px auto;
  }

  .tip,
#customTip {
    width: 46%;
    font-size: 20px;
  }

  #customTip:focus {
    width: 45%;
  }

  .result-container {
    padding: 20px;
    margin-bottom: 15px;
  }

  .result {
    font-size: 28px;
  }

  #reset {
    margin-top: 50px;
  }
}

/*# sourceMappingURL=styles.css.map */
